<div class="list-group">
    <a href="javascript:void(0);" class="list-group-item pay-list" ng-class="{'on':option == '1'}" ng-click="option='1'">
        <i class="fa pay-list-item" ng-class="{'fa-circle-o':option != '1','fa-check':option == '1'}"></i>
        <i class="icon-wx pay-list-item"></i>
        <span class="pay-list-item">微信支付</span>
    </a>
    <a href="javascript:void(0);" class="list-group-item pay-list" ng-class="{'on':option == '2'}" ng-click="option='2'">
        <i class="fa pay-list-item" ng-class="{'fa-circle-o':option != '2','fa-check':option == '2'}"></i>
        <i class="icon-alipay pay-list-item"></i>
        <span class="pay-list-item">支付宝</span>
    </a>
    <a href="javascript:void(0);" class="list-group-item pay-list" ng-class="{'on':option == '3'}" ng-click="option='3'">
        <i class="fa pay-list-item" ng-class="{'fa-circle-o':option != '3','fa-check':option == '3'}"></i>
        <i class="pay-list-item"></i>
        <span class="pay-list-item">银联</span>
    </a>
</div>