<ul class="list-group">
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-0 text-muted">商品名称</p>
            <p class="mb-0">{{orderObj.title}}</p>
        </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-0 text-muted">商品描述</p>
            <p class="mb-0">{{orderObj.attach}}</p>
        </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-0 text-muted">总&nbsp;&nbsp;&nbsp;&nbsp;价</p>
            <p class="mb-0">{{orderObj.payAmt|currency:'￥':2}}</p>
        </div>
    </li>
</ul>
<p class="mt-3 mb-1 text-muted">选择支付方式</p>
<div class="list-group">
    <a href="javascript:void(0);"
       class="list-group-item list-group-item-action pay-list"
       ng-repeat="pb in paymentBrands"
       ng-class="{'list-group-item-warning':orderObj.paymentModeCode == pb.code}"
       ng-click="orderObj.paymentModeCode = pb.code">
        <i class="fa pay-list-item"
           ng-class="{'fa-circle-o':orderObj.paymentModeCode != pb.code,'fa-check':orderObj.paymentModeCode == pb.code}">
        </i>
        <i class="pay-list-item"
           ng-class="{'icon-wx':pb.code == '00001', 'icon-alipay':pb.code == '00002'}">
        </i>
        <span class="pay-list-item">{{pb.desc}}</span>
    </a>
</div>
<div class="pay-btn-panel fixed-bottom pt-2 pb-3">
    <div class="container">
        <button type="button" class="btn btn-success btn-block" ng-click="unifiedOrder()">确认付款</button>
    </div>
</div>