
.jumbotron {
    background-image: url("../images/pay_jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
    /*color: #FFF;*/
}

.icon_wx {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url("../images/icon_wx.png");
    background-size: cover;
}