
body {
    background-color: #f8f8f8;
    padding-bottom: 70px;
    /*font-size: 14rem;*/
}

.jumbotron {
    background-image: url("../images/pay_jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
    /*color: #FFF;*/
}

.pay-list {
    height: 50px;
}

.pay-list.on {
    background-color: #f8f5e4;
}

.pay-list-item {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
}

.pay-list-item.fa {
    margin-right: 15px;
}

.pay-list-item.fa-check {
    color: #5cb85c;
}

.pay-btn-panel {
    background-color: #f8f8f8;
}

.icon-wx {
    display: inline-block;
    height: 25px;
    width: 22px;
    background-image: url("../images/logo_wx.png");
    background-size: cover;
}

.icon-alipay {
    display: inline-block;
    height: 23px;
    width: 23px;
    background-image: url("../images/logo_alipay.png");
    background-size: cover;
}
